@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Slab:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,700");



body {
  background-image: linear-gradient(to right top, #5E72E4, #ffffff);
  background-size:cover;
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  
}


h1{
  font-weight:400;
  padding-top:0;
  margin-top:0;
  font-family: 'Roboto Slab', serif;
}

#svg_form_time {
  height: 15px;
  max-width: 80%;
  margin: 40px auto 20px;
  display: block;
}

#svg_form_time circle,
#svg_form_time rect {
  fill: white;
}

.button {
  background: rgb(237, 40, 70);
  border-radius: 5px;
  padding: 15px 25px;
  display: inline-block;
  margin: 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  box-shadow:0px 2px 5px rgb(0,0,0,0.5);
}

.disabled {
  display:none;
}

section {
  background:
  radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#373737;
    
    background-size:16px 16px;
  width: 50%;
  margin: 0 auto;
  padding: 50px ;
  margin: 30px auto;
  opacity: 0.8;
  backdrop-filter:blur(10px);
  
  z-index: 0;
  border-radius: 10px;
  box-shadow: 0 1px 10px rgba(0,0,0,0.75),
  0 0 2px rgba(0, 0, 0, 0.5),
        0 1px 1px rgba(0,0,0,0.5),
        0 3px 0 #373737,
        0 4px 0 rgba(0,0,0,0.5),
        0 6px 0 #373737,
        0 7px 0 rgba(0,0,0,0.5),
        0 -10px 5px 10px rgba(0, 0, 0, 0.3) inset,
        0 10px 10px 15px rgba(255, 255, 255, 0.1) inset;

  transition:transform 0.2s ease-in-out;
}
input[type='submit'] {
  background: rgb(237, 40, 70);
  border-radius: 5px;
  padding: 15px 25px;
  display: inline-block;
  margin: 10px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  box-shadow:0px 2px 5px rgb(0,0,0,0.5);
  
}

input {

  box-sizing: border-box;
  width: 100%;
  padding: 0.8em;
  font-size: 16px;

  width: 100%;
  margin: 7px 0px;
  display: inline-block;
  padding: 12px 25px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 1em;
  font-family:inherit;
  background:white;
}/**
select {
  width: 100%;
  margin: 7px 0px;
  display: inline-block;
  padding: 12px 25px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 1em;
  font-family:inherit;
  background:white;
}
**/


.form-check{
  display: inline-block;
  font-family: inherit;
  font-size: 50%;
  margin: 3px 0px;
  display: inline-block;
  padding: 2px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 1em;
  font-family:inherit;
  background:white;
}

form span{
  display: inline-block;
  margin: 20px 0;
}
/*make form styling consistent across browsers*/
select{
  font-family: inherit;
  font-size: 50%;
  margin: 3px 0px;
  display: inline-block;
  padding: 10px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 1em;
  font-family:inherit;
  background:white;
}
.selected{
  font-family: inherit;
  font-size: 50%;
  margin: 3px 0px;
  display: inline-block;
  padding: 15px 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 1em;
  font-family:inherit;
  background:white;
  width: 100%;
}

h2{
  text-decoration: underline;
  color: white;
}
.nom{
  margin-right: 100%;
}
 ul{
  list-style: none;
}
li{
  padding: 0.8em;
}

@media screen and (max-width:1000px){
  section{
    width: 78%;
    margin: 0 auto;
  }
  
}
#nom{
  float: left;
}
#state{
  float: left;
}
label{
  font-style: oblique;
  font-weight: bold;
  font-weight: 900;
  color: white;
}

.form-check-label {
  color: black;
}



.table-fill {
  background: white;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 600px;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}
 
th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  border-right: 1px solid #343a45;
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}
 
th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}
  
tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
 
tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}
 
tr:first-child {
  border-top:none;
}

tr:last-child {
  border-bottom:none;
}
 
tr:nth-child(odd) td {
  background:#EBEBEB;
}
 
tr:nth-child(odd):hover td {
  background:#4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}
 
tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}
 
td {
  background:#FFFFFF;
  padding:20px;
  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}

.wrapper{
  height: 150px;
  width: 150px;
  position: relative;
  border: 5px solid rgb(0, 0, 0);
  border-radius: 50px;
  background-size: 100% 100%;
 
  overflow: hidden;
}


.profile-pic-div{
  height: 200px;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid grey;
}

#photo{
  height: 100%;
  width: 100%;
}

#file{
  display: none;
}

#uploadBtn{
  height: 70px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  color: wheat;
  line-height: 30px;
  font-family: sans-serif;
  font-size: 15px;
  cursor: pointer;
  display: none;
}

.cont{
  display: flex;
  margin-left: 10%;
} 
.left{
  flex-grow: 0;
  transform: translate(-20%,-20%);
}
